{#<h1>Activer la vérification en deux étapes</h1>#}
{#<div style="display: flex; justify-content: space-between; align-items: flex-start;">#}
{#    <div>#}
{#        <p>Scannez ce QR code avec votre application Google Authenticator :</p>#}
{#        <img src="{{ qrCodeUrl }}" alt="QR Code pour Google Authenticator">  #}{# Use qrCodeUrl instead of qrCodeUri #}
{#    </div>#}
{#    <div style="margin-left: 20px;">#}
{#        <form method="post">#}
{#            <div>#}
{#                <label for="auth_code">Entrez le code de vérification (6 chiffres) :</label>#}
{#                <input type="text" id="auth_code" name="auth_code" required>#}
{#            </div>#}
{#            <button type="submit" class="btn btn-success">Vérifier et Activer 2FA</button>#}
{#        </form>#}
{#    </div>#}
{#</div>#}
