{% extends 'base.html.twig' %}

{% block title %}Configurer 2FA{% endblock %}

{% block body %}
    <div>
        <h1>Connectez vous grâce à l'A2F</h1>

        {% for message in app.flashes('success') %}
            <div>{{ message }}</div>
        {% endfor %}

        {% for message in app.flashes('error') %}
            <div>{{ message }}</div>
        {% endfor %}

        <form method="POST" action="{{ path('2fa_login_check') }}">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            <div>
                <label for="auth_code">Entrez le code de vérification</label>
                <input type="text" name="auth_code" id="auth_code" autocomplete="one-time-code" autofocus required>
            </div>

            <div>
                <button type="submit" value="Login">
                    Activer 2FA
                </button>
            </div>
        </form>
    </div>
{% endblock %}
