{% extends 'base.html.twig' %}

{% block title %}Se connecter avec la 2FA{% endblock %}

{% block body %}
    <div>
        <h1>Vérification en deux étapes</h1>
        <img src="data:image/png;base64,{{ qrCodeImage }}" alt="QR Code">
        <form method="post" action="{{ path('app_2fa_qrcode') }}">
            <div>
                <label for="auth_code">Entrez votre code d'authentification :</label>
                <input type="text" id="auth_code" name="_auth_code" required>
            </div>
            <div>
                <button type="submit">Vérifier</button>
            </div>
        </form>
    </div>
{% endblock %}
