<h1>Mon Profil</h1>

{% if app.user.twoFactorEnabled %}
    <p>La vérification en deux étapes est activée sur votre compte.</p>
    <a href="{{ path('app_2fa_disable') }}" class="btn btn-danger">Désactiver 2FA</a>
{% else %}
    <p>La vérification en deux étapes n'est pas activée sur votre compte.</p>
    <a href="{{ path('app_2fa_setup') }}" class="btn btn-success">Activer 2FA</a>
{% endif %}
