{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="max-w-4xl mx-auto p-6 bg-white shadow-md rounded-lg">
        <h1 class="text-3xl font-bold mb-6 text-center text-gray-800">Bienvenue au Forum Planner ! ✅</h1>
        <p class="text-lg text-gray-600 text-center">Utilisez cette application pour organiser et planifier vos forums avec efficacité !</p>
    </div>
{% endblock %}
