{% extends 'base.html.twig' %}

{% block title %}Edit Forum{% endblock %}

{% block body %}
    <div class="container mx-auto py-8">
        <h1 class="text-2xl font-bold text-gray-800 mb-6">Edit Forum</h1>

        {{ include('forum/_form.html.twig', {'button_label': 'Update'}) }}

        <div class="mt-4">
            <a href="{{ path('app_forum_index') }}" class="text-blue-500 hover:underline">Back to list</a>
        </div>

        <div class="mt-6">
            {{ include('forum/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}
